.textTitle {
    font-size: 6.615rem;
    margin-bottom: 2rem;
    font-size: 6.615rem;

    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.titleImage {
    margin-left: 3rem;
}

.prevy {
    font-size: 2.205rem;
    margin-bottom: 2rem;
    margin-left: 2rem;

    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.text {
    font-size: 1.125rem;
    margin-left: 5.5rem;
    margin-bottom: 2rem;

    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.text ul li {
    margin: .3rem;
}

.brendLink {
    color: #2DA7FF;
    font-size: 1.125rem;
    text-decoration-line: underline;
    margin-right: 2rem;
}

.deletePostBtn {
    border: none;
    background: none;
    color: #2DA7FF;
    font-size: 1.125rem;
    text-decoration-line: underline;
    cursor: pointer;
}